<div class="login-container">
    <div class="login-box">
        <h2>Welcome Back</h2>
        <p>Login to continue</p>
        <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
            <div class="input-group">
                <label>Email</label>
                <input type="email" formControlName="email" placeholder="Enter your email">
                <span *ngIf="email.invalid && email.touched" class="error">Invalid email</span>
            </div>
            <div class="input-group">
                <label>Password</label>
                <input type="password" formControlName="password" placeholder="Enter your password">
                <span *ngIf="password.invalid && password.touched" class="error">Password must be at least 6
                    characters</span>
            </div>
            <button type="submit" class="login-btn">Login</button>
        </form>
        <div class="separator">
            <span>OR</span>
        </div>
        <button (click)="loginWithGoogle()" class="google-btn">
            <img src="https://img.icons8.com/color/48/google-logo.png" alt="Google Logo">
            Sign in with Google
        </button>
        <p class="signup-text">Don't have an account?
            <a (click)="navigateToRegister()" style="cursor: pointer; text-decoration: underline;">Sign Up</a>
        </p>




    </div>
</div>