<div class="login-container">
    <div class="login-box">
        <h2>Welcome Back</h2>
        <p>Login to continue</p>
        <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
            <div class="input-group">
                <label>Email</label>
                <input type="email" formControlName="email" placeholder="Enter your email" maxlength="40" />
                <span *ngIf="email.touched && email.errors?.['required']" class="error">Email is required</span>
                <span *ngIf="email.touched && email.errors?.['invalidEmailFormat']" class="error">Enter a valid
                    email</span>
                <span *ngIf="email.touched && email.errors?.['noSpaces']" class="error">Spaces are not allowed</span>
            </div>
            <div class="input-group">
                <label>Password</label>
                <input [type]="showPassword ? 'text' : 'password'" formControlName="password"
                    placeholder="Enter your password" maxlength="40" />
                <div class="password-wrapper">
                    <button type="button" class="toggle-btn" (click)="showPassword = !showPassword">
                        <span *ngIf="!showPassword">👁️</span>
                        <span *ngIf="showPassword">🙈</span>
                    </button>
                </div>
                <span *ngIf="password.touched && password.errors?.['required']" class="error">Password is
                    required</span>
                <span *ngIf="password.touched && !password.errors?.['required'] && password.errors?.['minlength']"
                    class="error">
                    Min 6 characters required
                </span>
                <span
                    *ngIf="password.touched && !password.errors?.['required'] && !password.errors?.['minlength'] && password.errors?.['passwordStrength']"
                    class="error">
                    Must include uppercase, lowercase, number & special character
                </span>
            </div>
            <button type="submit" class="login-btn">Login</button>
        </form>
        <div class="separator">
            <span>OR</span>
        </div>
        <button (click)="loginWithGoogle()" class="google-btn">
            <img src="https://img.icons8.com/color/48/google-logo.png" alt="Google Logo">
            Sign in with Google
        </button>
        <p class="signup-text">Don't have an account?
            <a (click)="dataBag.navigateTo('/register')" style="cursor: pointer; text-decoration: underline;">Sign
                Up</a>
        </p>
    </div>
</div>