<div class="video-container mt-5 ml-5 pl-5 pt-5">
  <div class="video-card" *ngFor="let video of videos" (mouseenter)="playHoverVideo(video)"
    (mouseleave)="stopHoverVideo()" (click)="openFullVideo(video)">

    <div class="video-wrapper">
      <iframe *ngIf="hoveredVideo === video" [src]="getSafeUrl(video.url)" frameborder="0" allowfullscreen>
      </iframe>
      <img *ngIf="hoveredVideo !== video" [src]="'https://img.youtube.com/vi/' + video.id + '/hqdefault.jpg'"
        (error)="setDefaultThumbnail($event)" alt="Video Thumbnail">
    </div>
    <p class="video-description">{{ video.title }}</p>
  </div>
</div>

<!-- Fullscreen Video Modal -->
<div class="video-modal" *ngIf="isVideoOpen" (click)="closeVideo()">
  <div class="video-content" (click)="stopClick($event)">
    <span class="close-btn" (click)="closeVideo()">&times;</span>
    <iframe [src]="videoUrl" width="800" height="450" frameborder="0" allowfullscreen>
    </iframe>
  </div>
</div>